name: ci

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened # default
      - reopened # default
      - synchronize # default
      - ready_for_review
    paths:
      - .github/workflows/**
      - package.json
      - pnpm-lock.yaml
      - app/**
      - components/**
      - db/**
      - hooks/**
      - lib/**
      - server/**
  push:
    branches:
      - main
      - develop
    paths:
      - .github/workflows/**
      - package.json
      - pnpm-lock.yaml
      - app/**
      - components/**
      - db/**
      - hooks/**
      - lib/**
      - server/**

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: npx biome check . && npx prettier --check './**/*.{md,yml}'
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm test
